In [ ]:
# # Random Forest Regression
# ## Importing the libraries
# In[1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
sns.set()
import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split
import pandas
from sklearn import preprocessing 
from sklearn.naive_bayes import MultinomialNB 
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#Importing traing data
train = pd.read_csv('/content/drive/MyDrive/ML_text_processing/MOLD_SPLIT/subtask_a.tsv','\t',skiprows=1,names=['id','tweet','subtask_a'])
test = pd.read_csv('/content/drive/MyDrive/ML_text_processing/MOLD_SPLIT/marathi_test_without_labels.csv',skiprows=1,names=['id','tweet'])

In [ ]:
le = preprocessing.LabelEncoder()
train['encoded_a'] = le.fit_transform(train['subtask_a'].astype(str))
train.head()

   id                                              tweet subtask_a  encoded_a
0   0  आजच्या जनता दरबारात जळगाव जिल्ह्यातील चाळीसगाव...       NOT          0
1   1  कुणी कविता करत असतं तर कुणी कविता जगत असतं कुण...       NOT          0
2   2  आम्हाला इतिहासातील औरंगजेबशी काही घेणे नाही आम...       NOT          0
3   3  गँभीर प्रकरण महाराष्ट्राची अवस्था बिकट आहे भाष...       NOT          0
4   4  कब्झा हा कन्नड चित्रपट लवकरच मराठी मध्ये डब्ब ...       NOT          0

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
vectorizer = CountVectorizer(analyzer='char', ngram_range=(1,3))
x_train=train['tweet']
y_train=train['encoded_a']
x_train=x_train.replace(np.nan,"")
x_test=test['tweet']
x_test=x_test.replace(np.nan,"")
x_train = vectorizer.fit_transform(x_train)
x_test=vectorizer.transform(x_test)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn_clf=KNeighborsClassifier(n_neighbors=3)

In [ ]:
knn_clf.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
y_pred = knn_clf.predict(x_test)

In [ ]:
import math
pred=[]
for i in range(len(y_pred)):
 pred.append(int(y_pred[i].round()))

In [ ]:
pred=le.inverse_transform(pred)

In [ ]:
submission = pd.DataFrame()
submission['id'] = test['id']
submission['label'] = pred
submission.to_csv('/content/drive/MyDrive/ML_text_processing/MOLD_SPLIT/taska_sub4.csv',index= False)

In [ ]:
print(submission)
null_list=[]
null_list=submission.index[submission['label'] == "NOT"].tolist()
print(null_list)

      id label
0      0   NOT
1      1   OFF
2      2   NOT
3      3   OFF
4      4   OFF
..   ...   ...
505  505   OFF
506  506   OFF
507  507   OFF
508  508   OFF
509  509   OFF

[510 rows x 2 columns]
[0, 2, 5, 6, 8, 9, 11, 13, 14, 15, 16, 17, 18, 19, 22, 24, 25, 26, 27, 29, 31, 33, 34, 35, 38, 39, 40, 41, 42, 43, 45, 47, 49, 54, 55, 57, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 71, 73, 75, 78, 82, 84, 85, 88, 89, 90, 92, 93, 95, 96, 97, 100, 101, 105, 106, 107, 109, 112, 113, 115, 118, 119, 121, 123, 124, 125, 126, 128, 131, 135, 137, 139, 142, 143, 147, 148, 149, 150, 151, 152, 156, 157, 158, 159, 160, 161, 165, 167, 168, 169, 172, 174, 175, 176, 178, 179, 181, 183, 185, 186, 187, 188, 189, 192, 193, 194, 195, 196, 197, 199, 200, 202, 203, 205, 209, 213, 214, 216, 218, 219, 220, 222, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 237, 239, 241, 242, 243, 244, 248, 249, 254, 256, 270, 282, 291, 294, 301, 309, 311, 316, 320, 334, 349, 350, 352, 363, 367, 377, 382, 398, 405, 419, 421, 425, 442, 447, 454, 461, 470, 478, 479, 488, 499, 501, 503]

In [ ]:
trainb = pd.read_csv('/content/drive/MyDrive/ML_text_processing/MOLD_SPLIT/subtask_b1.tsv','\t',skiprows=1,names=['id','tweet','subtask_b'])
trainb.head()

     id                                              tweet subtask_b
0  1451  राम कदम वागण्यात नाही तर बोलण्यात चुकला बीजेपी...       TIN
1  1452  हीच का तुमची शिवसेने चि शिकवण आपली आई म्हणजे द...       TIN
2  1453  हे वाचा गाढवांनो आणि हे ही सांगा की तुमच्या मॅ...       TIN
3  1454           भक्त आंधळे असतात मूर्खा ना काही कळत नाही       TIN
4  1455  १९६६ साली छत्रपती शिवाजी महाराज या जागतिक दर्ज...       TIN

In [ ]:
trainb['encoded_b'] = le.fit_transform(trainb['subtask_b'].astype(str))

In [ ]:
trainb.head()

,id,tweet,subtask_b,encoded_b
0,1451,राम कदम वागण्यात नाही तर बोलण्यात चुकला बीजेपी...,TIN,0
1,1452,हीच का तुमची शिवसेने चि शिकवण आपली आई म्हणजे द...,TIN,0
2,1453,हे वाचा गाढवांनो आणि हे ही सांगा की तुमच्या मॅ...,TIN,0
3,1454,भक्त आंधळे असतात मूर्खा ना काही कळत नाही,TIN,0
4,1455,१९६६ साली छत्रपती शिवाजी महाराज या जागतिक दर्ज...,TIN,0

In [ ]:
submission['tweet']=test['tweet']
testb = submission[submission['label'] != 'NOT']
print(testb)

      id label                                              tweet
1      1   OFF  कोणत्याही  रिलेशनशिप मध्ये सुंदर दिसणं खूप महत...
3      3   OFF  स्वत ला हवा तसा बाइट किंवा प्रतिक्रिया घेण्यास...
4      4   OFF  व्या नंबरची अर्थव्यवस्था आहे भारताची जगात  पर्...
7      7   OFF  अरे गैबान्या हुकलेल्या अनिस धर्म मानत नाही ना ...
10    10   OFF  हिंदी च्या मोहापायी मुख्यमंत्रीपद गेलंय तरी ती...
..   ...   ...                                                ...
505  505   OFF  चायला  हा मराठीत कधी पासून ट्विट करायला लागला ...
506  506   OFF  मदत तातडीने द्यायला हवी  महिने अधिकारी गोट्या ...
507  507   OFF  @USER @USER @USER @USER @USER रंगा बिल्ला ने श...
508  508   OFF  @USER काही लोकं अजूनही म्हणतात की पूर आल्यावर ...
509  509   OFF             @USER सगळ्यात जास्त वास मारणारी पुच्ची

[324 rows x 3 columns]

In [ ]:
x_train=trainb['tweet']
y_train=trainb['encoded_b']
x_train=x_train.replace(np.nan,"")
x_test=testb['tweet']
x_test=x_test.replace(np.nan,"")
x_train = vectorizer.fit_transform(x_train)
x_test=vectorizer.transform(x_test)

In [ ]:
knn_clf.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
y_predb = knn_clf.predict(x_test)

In [ ]:
y_predb

array([1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0])

In [ ]:
import math
pred=[]
for i in range(len(y_predb)):
 pred.append(int(y_pred[i].round()))
pred=le.inverse_transform(pred)

In [ ]:
pred

array(['TIN', 'UNT', 'TIN', 'UNT', 'UNT', 'TIN', 'TIN', 'UNT', 'TIN',
       'TIN', 'UNT', 'TIN', 'UNT', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN',
       'TIN', 'TIN', 'UNT', 'UNT', 'TIN', 'UNT', 'TIN', 'TIN', 'TIN',
       'TIN', 'UNT', 'TIN', 'UNT', 'TIN', 'UNT', 'TIN', 'TIN', 'TIN',
       'UNT', 'UNT', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'UNT',
       'TIN', 'UNT', 'TIN', 'UNT', 'TIN', 'UNT', 'UNT', 'UNT', 'UNT',
       'TIN', 'TIN', 'UNT', 'TIN', 'UNT', 'TIN', 'TIN', 'TIN', 'UNT',
       'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'UNT', 'TIN',
       'UNT', 'TIN', 'UNT', 'TIN', 'UNT', 'UNT', 'TIN', 'UNT', 'UNT',
       'UNT', 'TIN', 'UNT', 'TIN', 'TIN', 'UNT', 'UNT', 'TIN', 'TIN',
       'TIN', 'UNT', 'TIN', 'TIN', 'UNT', 'TIN', 'TIN', 'TIN', 'UNT',
       'UNT', 'TIN', 'TIN', 'UNT', 'UNT', 'UNT', 'TIN', 'TIN', 'TIN',
       'UNT', 'TIN', 'UNT', 'UNT', 'TIN', 'TIN', 'UNT', 'TIN', 'UNT',
       'UNT', 'TIN', 'TIN', 'UNT', 'TIN', 'UNT', 'TIN', 'TIN', 'TIN',
       'TIN', 'UNT', 'TIN', 'UNT', 'UNT', 'TIN', 'UNT', 'UNT', 'UNT',
       'TIN', 'UNT', 'TIN', 'UNT', 'TIN', 'UNT', 'UNT', 'TIN', 'TIN',
       'UNT', 'UNT', 'UNT', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN',
       'UNT', 'UNT', 'UNT', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN',
       'UNT', 'UNT', 'UNT', 'TIN', 'UNT', 'TIN', 'TIN', 'TIN', 'UNT',
       'UNT', 'TIN', 'UNT', 'TIN', 'TIN', 'TIN', 'UNT', 'TIN', 'TIN',
       'UNT', 'TIN', 'UNT', 'TIN', 'UNT', 'TIN', 'TIN', 'TIN', 'TIN',
       'TIN', 'UNT', 'UNT', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN',
       'UNT', 'TIN', 'TIN', 'UNT', 'TIN', 'TIN', 'UNT', 'TIN', 'UNT',
       'UNT', 'UNT', 'TIN', 'UNT', 'UNT', 'UNT', 'TIN', 'TIN', 'UNT',
       'TIN', 'UNT', 'TIN', 'TIN', 'TIN', 'UNT', 'TIN', 'UNT', 'TIN',
       'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN',
       'TIN', 'UNT', 'UNT', 'TIN', 'UNT', 'TIN', 'UNT', 'TIN', 'TIN',
       'TIN', 'TIN', 'UNT', 'UNT', 'UNT', 'TIN', 'TIN', 'UNT', 'UNT',
       'UNT', 'UNT', 'TIN', 'UNT', 'TIN', 'UNT', 'UNT', 'UNT', 'UNT',
       'UNT', 'UNT', 'UNT', 'UNT', 'UNT', 'UNT', 'UNT', 'UNT', 'UNT',
       'TIN', 'UNT', 'UNT', 'UNT', 'UNT', 'UNT', 'UNT', 'UNT', 'UNT',
       'UNT', 'UNT', 'UNT', 'TIN', 'UNT', 'UNT', 'UNT', 'UNT', 'UNT',
       'UNT', 'UNT', 'UNT', 'TIN', 'UNT', 'UNT', 'TIN', 'UNT', 'UNT',
       'UNT', 'UNT', 'UNT', 'UNT', 'TIN', 'UNT', 'UNT', 'UNT', 'UNT',
       'UNT', 'UNT', 'UNT', 'TIN', 'UNT', 'TIN', 'UNT', 'UNT', 'UNT',
       'UNT', 'TIN', 'UNT', 'UNT', 'UNT', 'TIN', 'UNT', 'UNT', 'UNT'],
      dtype=object)

In [ ]:
submissionb = pd.DataFrame()
submissionb['id'] = testb['id']
submissionb['label'] = pred
sub_temp=submissionb
for i in null_list:
  submissionb=submissionb.append({'id' : int(i),'label' : None} , ignore_index=True)
submissionb=submissionb.sort_values(by=['id'])
submissionb['id']=submission.index
submissionb.to_csv('/content/drive/MyDrive/ML_text_processing/MOLD_SPLIT/taskb1_sub4.csv',index= False)

In [ ]:
submissionb.index=submission.index
submissionb.head()
submissionb['tweet']=test['tweet']
print(submissionb.index)
print(submissionb['tweet'])

RangeIndex(start=0, stop=510, step=1)
0      पूर्व लडाखमधील मुखपरी येथे प्रत्यक्ष ताबारेषेज...
1      कोणत्याही  रिलेशनशिप मध्ये सुंदर दिसणं खूप महत...
2      भारत  ऑगस्ट  ला स्वतंत्र झाला आणि त्यानंतर तब्...
3      स्वत ला हवा तसा बाइट किंवा प्रतिक्रिया घेण्यास...
4      व्या नंबरची अर्थव्यवस्था आहे भारताची जगात  पर्...
                             ...
505    चायला  हा मराठीत कधी पासून ट्विट करायला लागला ...
506    मदत तातडीने द्यायला हवी  महिने अधिकारी गोट्या ...
507    @USER @USER @USER @USER @USER रंगा बिल्ला ने श...
508    @USER काही लोकं अजूनही म्हणतात की पूर आल्यावर ...
509               @USER सगळ्यात जास्त वास मारणारी पुच्ची
Name: tweet, Length: 510, dtype: object

In [ ]:
null_list1=[]
null_list1=submissionb.index[submissionb['label'] == "UNT"].tolist()
print(null_list1)
print(len(null_list1))

[3, 7, 10, 21, 30, 36, 53, 56, 62, 77, 80, 83, 94, 98, 111, 116, 120, 127, 129, 130, 132, 136, 140, 146, 170, 173, 180, 184, 190, 198, 201, 204, 207, 211, 212, 223, 238, 247, 250, 253, 255, 257, 261, 263, 264, 267, 269, 271, 274, 276, 281, 284, 285, 287, 288, 289, 292, 295, 297, 298, 302, 303, 304, 313, 314, 315, 324, 325, 326, 328, 332, 333, 336, 340, 343, 345, 347, 356, 357, 365, 369, 372, 374, 375, 376, 379, 380, 381, 385, 387, 391, 393, 407, 408, 410, 412, 417, 418, 420, 424, 426, 427, 428, 430, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 443, 444, 445, 448, 449, 450, 451, 452, 453, 455, 456, 457, 458, 459, 462, 463, 464, 465, 466, 467, 468, 469, 472, 473, 475, 476, 477, 480, 481, 482, 484, 485, 486, 487, 489, 490, 491, 493, 495, 496, 497, 498, 502, 504, 505, 507, 508, 509]
162

In [ ]:

for i in null_list1:
  null_list.append(i)
null_list =list(set(null_list))

In [ ]:
print(null_list)

[0, 2, 3, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 21, 22, 24, 25, 26, 27, 29, 30, 31, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 45, 47, 49, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 73, 75, 77, 78, 80, 82, 83, 84, 85, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 100, 101, 105, 106, 107, 109, 111, 112, 113, 115, 116, 118, 119, 120, 121, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 135, 136, 137, 139, 140, 142, 143, 146, 147, 148, 149, 150, 151, 152, 156, 157, 158, 159, 160, 161, 165, 167, 168, 169, 170, 172, 173, 174, 175, 176, 178, 179, 180, 181, 183, 184, 185, 186, 187, 188, 189, 190, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 207, 209, 211, 212, 213, 214, 216, 218, 219, 220, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 237, 238, 239, 241, 242, 243, 244, 247, 248, 249, 250, 253, 254, 255, 256, 257, 261, 263, 264, 267, 269, 270, 271, 274, 276, 281, 282, 284, 285, 287, 288, 289, 291, 292, 294, 295, 297, 298, 301, 302, 303, 304, 309, 311, 313, 314, 315, 316, 320, 324, 325, 326, 328, 332, 333, 334, 336, 340, 343, 345, 347, 349, 350, 352, 356, 357, 363, 365, 367, 369, 372, 374, 375, 376, 377, 379, 380, 381, 382, 385, 387, 391, 393, 398, 405, 407, 408, 410, 412, 417, 418, 419, 420, 421, 424, 425, 426, 427, 428, 430, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 472, 473, 475, 476, 477, 478, 479, 480, 481, 482, 484, 485, 486, 487, 488, 489, 490, 491, 493, 495, 496, 497, 498, 499, 501, 502, 503, 504, 505, 507, 508, 509]

In [ ]:
testc = submissionb[submissionb['label'] != 'UNT']
testc=testc.dropna()
print(testc)

      id label                                              tweet
1      1   TIN  कोणत्याही  रिलेशनशिप मध्ये सुंदर दिसणं खूप महत...
4      4   TIN  व्या नंबरची अर्थव्यवस्था आहे भारताची जगात  पर्...
12    12   TIN  मग चला सुरू करूया मी पाहिलं वाक्य टाकतो काळोख ...
20    20   TIN  भाजप हि मराठी अस्मितेची सर्वात मोठी शत्रू आहे ...
23    23   TIN  आमच्या आवडत्या नेत्यावर कोणी साधी टीका जरी केल...
..   ...   ...                                                ...
483  483   TIN                 @USER नालायक पणाची पण एक सीमा असते
492  492   TIN                                      @USER नालायक़
494  494   TIN  @USER @USER @USER @USER अरे नालायक @USER काय द...
500  500   TIN       @USER चायला मी बिडी च्या ऐवजी भिडे वाचला राव
506  506   TIN  मदत तातडीने द्यायला हवी  महिने अधिकारी गोट्या ...

[162 rows x 3 columns]

In [ ]:
trainc = pd.read_csv('/content/drive/MyDrive/ML_text_processing/MOLD_SPLIT/subtask_c1.tsv','\t',skiprows=1,names=['id','tweet','subtask_c'])
trainc.head()

     id                                              tweet subtask_c
0  1451  राम कदम वागण्यात नाही तर बोलण्यात चुकला बीजेपी...       GRP
1  1452  हीच का तुमची शिवसेने चि शिकवण आपली आई म्हणजे द...       GRP
2  1453  हे वाचा गाढवांनो आणि हे ही सांगा की तुमच्या मॅ...       GRP
3  1454           भक्त आंधळे असतात मूर्खा ना काही कळत नाही       GRP
4  1455  १९६६ साली छत्रपती शिवाजी महाराज या जागतिक दर्ज...       GRP

In [ ]:
trainc['encoded_c'] = le.fit_transform(trainc['subtask_c'].astype(str))
print(trainc)

       id                                              tweet subtask_c  \
0    1451  राम कदम वागण्यात नाही तर बोलण्यात चुकला बीजेपी...       GRP
1    1452  हीच का तुमची शिवसेने चि शिकवण आपली आई म्हणजे द...       GRP
2    1453  हे वाचा गाढवांनो आणि हे ही सांगा की तुमच्या मॅ...       GRP
3    1454           भक्त आंधळे असतात मूर्खा ना काही कळत नाही       GRP
4    1455  १९६६ साली छत्रपती शिवाजी महाराज या जागतिक दर्ज...       GRP
..    ...                                                ...       ...
735  3064                   @USER @USER हो रे साहेबचा गोट्या       OTH
736  3099  @USER दोन नंबर पुच्ची पाकळ्या मस्त आहेत चाटायल...       OTH
737  3100                            @USER पुच्ची कप्तान साब       OTH
738  3101  @USER नंबरकाळी पुच्ची आणि वर थोडे केसखालून चाट...       OTH
739  3102             @USER तुज्या आमची पुच्ची आतल्या लवड्या       OTH

     encoded_c
0            0
1            0
2            0
3            0
4            0
..         ...
735          2
736          2
737          2
738          2
739          2

[740 rows x 4 columns]

In [ ]:
print(submissionb.index)

RangeIndex(start=0, stop=510, step=1)

In [ ]:
x_train=trainc['tweet']
y_train=trainc['encoded_c']
x_train=x_train.replace(np.nan,"")
x_test=testc['tweet']
x_test=x_test.replace(np.nan,"")
x_train = vectorizer.fit_transform(x_train)
x_test=vectorizer.transform(x_test)

In [ ]:
knn_clf.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
y_predc = knn_clf.predict(x_test)
import math
pred=[]
for i in range(len(y_predc)):
 pred.append(int(y_predc[i].round()))
pred=le.inverse_transform(pred)

In [ ]:
submissionc = pd.DataFrame()
submissionc['id'] = testc['id']
submissionc['label'] = pred

In [ ]:
submissionc

      id label
1      1   IND
4      4   IND
12    12   GRP
20    20   IND
23    23   IND
..   ...   ...
483  483   IND
492  492   IND
494  494   GRP
500  500   IND
506  506   IND

[162 rows x 2 columns]

In [ ]:
for i in null_list:
  submissionc=submissionc.append({'id' : int(i),'label' : None} , ignore_index=True)
submissionc=submissionc.sort_values(by=['id'])
submissionc['id']=submission.index
submissionc.to_csv('/content/drive/MyDrive/ML_text_processing/MOLD_SPLIT/taskc1_sub4.csv',index= False)

In [ ]:
submissionc

      id label
162    0   NaN
0      1   IND
163    2   NaN
164    3   NaN
1      4   IND
..   ...   ...
506  505   NaN
161  506   IND
507  507   NaN
508  508   NaN
509  509   NaN

[510 rows x 2 columns]