In [ ]:
# # Random Forest Regression
# ## Importing the libraries
# In[1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
sns.set()
import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split
import pandas
from sklearn import preprocessing 
from sklearn.naive_bayes import MultinomialNB 
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#Importing traing data
train = pd.read_csv('/content/drive/MyDrive/ML_text_processing/MOLD_SPLIT/subtask_a.tsv','\t',skiprows=1,names=['id','tweet','subtask_a'])
test = pd.read_csv('/content/drive/MyDrive/ML_text_processing/MOLD_SPLIT/marathi_test_without_labels.csv',skiprows=1,names=['id','tweet'])

In [ ]:
le = preprocessing.LabelEncoder()
train['encoded_a'] = le.fit_transform(train['subtask_a'].astype(str))
train.head()

   id                                              tweet subtask_a  encoded_a
0   0  आजच्या जनता दरबारात जळगाव जिल्ह्यातील चाळीसगाव...       NOT          0
1   1  कुणी कविता करत असतं तर कुणी कविता जगत असतं कुण...       NOT          0
2   2  आम्हाला इतिहासातील औरंगजेबशी काही घेणे नाही आम...       NOT          0
3   3  गँभीर प्रकरण महाराष्ट्राची अवस्था बिकट आहे भाष...       NOT          0
4   4  कब्झा हा कन्नड चित्रपट लवकरच मराठी मध्ये डब्ब ...       NOT          0

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
vectorizer = CountVectorizer(analyzer='char', ngram_range=(1,3))
x_train=train['tweet']
y_train=train['encoded_a']
x_train=x_train.replace(np.nan,"")
x_test=test['tweet']
x_test=x_test.replace(np.nan,"")
x_train = vectorizer.fit_transform(x_train)
x_test=vectorizer.transform(x_test)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
regressor = RandomForestRegressor(n_estimators = 100, random_state = 7)

In [ ]:
regressor.fit(x_train,y_train)

RandomForestRegressor(random_state=7)

In [ ]:
y_pred = regressor.predict(x_test)

In [ ]:
import math
pred=[]
for i in range(len(y_pred)):
 pred.append(int(y_pred[i].round()))

In [ ]:
pred=le.inverse_transform(pred)

In [ ]:
submission = pd.DataFrame()
submission['id'] = test['id']
submission['label'] = pred
submission.to_csv('/content/drive/MyDrive/ML_text_processing/MOLD_SPLIT/taska_sub1.csv',index= False)

In [ ]:
print(submission)
null_list=[]
null_list=submission.index[submission['label'] == "NOT"].tolist()
print(null_list)

      id label
0      0   NOT
1      1   NOT
2      2   NOT
3      3   NOT
4      4   NOT
..   ...   ...
505  505   OFF
506  506   OFF
507  507   OFF
508  508   OFF
509  509   OFF

[510 rows x 2 columns]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 478]

In [ ]:
trainb = pd.read_csv('/content/drive/MyDrive/ML_text_processing/MOLD_SPLIT/subtask_b1.tsv','\t',skiprows=1,names=['id','tweet','subtask_b'])
trainb.head()

     id                                              tweet subtask_b
0  1451  राम कदम वागण्यात नाही तर बोलण्यात चुकला बीजेपी...       TIN
1  1452  हीच का तुमची शिवसेने चि शिकवण आपली आई म्हणजे द...       TIN
2  1453  हे वाचा गाढवांनो आणि हे ही सांगा की तुमच्या मॅ...       TIN
3  1454           भक्त आंधळे असतात मूर्खा ना काही कळत नाही       TIN
4  1455  १९६६ साली छत्रपती शिवाजी महाराज या जागतिक दर्ज...       TIN

In [ ]:
trainb['encoded_b'] = le.fit_transform(trainb['subtask_b'].astype(str))

In [ ]:
trainb.head()

,id,tweet,subtask_b,encoded_b
0,1451,राम कदम वागण्यात नाही तर बोलण्यात चुकला बीजेपी...,TIN,0
1,1452,हीच का तुमची शिवसेने चि शिकवण आपली आई म्हणजे द...,TIN,0
2,1453,हे वाचा गाढवांनो आणि हे ही सांगा की तुमच्या मॅ...,TIN,0
3,1454,भक्त आंधळे असतात मूर्खा ना काही कळत नाही,TIN,0
4,1455,१९६६ साली छत्रपती शिवाजी महाराज या जागतिक दर्ज...,TIN,0

In [ ]:
submission['tweet']=test['tweet']
testb = submission[submission['label'] != 'NOT']
print(testb)

      id label                                              tweet
12    12   OFF  मग चला सुरू करूया मी पाहिलं वाक्य टाकतो काळोख ...
28    28   OFF  दाऊद कडून कॉल आल्यानंतर उद्धव ठाकरे स्वतःच्या ...
37    37   OFF  अरे मुर्खा निर्यात वाढली की शेतकरी ला पैसे मिळ...
48    48   OFF  मराठी भय्या ज्या देशाला राष्ट्रभाषा नाही आणि र...
52    52   OFF  कोरोनाच्या कॉलर ट्यूननंतर आता ह्या च्या जाहिरा...
..   ...   ...                                                ...
505  505   OFF  चायला  हा मराठीत कधी पासून ट्विट करायला लागला ...
506  506   OFF  मदत तातडीने द्यायला हवी  महिने अधिकारी गोट्या ...
507  507   OFF  @USER @USER @USER @USER @USER रंगा बिल्ला ने श...
508  508   OFF  @USER काही लोकं अजूनही म्हणतात की पूर आल्यावर ...
509  509   OFF             @USER सगळ्यात जास्त वास मारणारी पुच्ची

[271 rows x 3 columns]

In [ ]:
x_train=trainb['tweet']
y_train=trainb['encoded_b']
x_train=x_train.replace(np.nan,"")
x_test=testb['tweet']
x_test=x_test.replace(np.nan,"")
x_train = vectorizer.fit_transform(x_train)
x_test=vectorizer.transform(x_test)

In [ ]:
regressor.fit(x_train, y_train)

RandomForestRegressor(random_state=7)

In [ ]:
y_predb = regressor.predict(x_test)

In [ ]:
y_predb

array([0.32333333, 0.64      , 0.26      , 0.68      , 0.69      ,
       0.18      , 0.27      , 0.1       , 0.27      , 0.63      ,
       0.33      , 0.26      , 0.03      , 0.07      , 0.03      ,
       0.15      , 0.1       , 0.11      , 0.15      , 0.04      ,
       0.14      , 0.42      , 0.14      , 0.08      , 0.26119048,
       0.06      , 0.02      , 0.19      , 0.25      , 0.416     ,
       0.06      , 0.2       , 0.23      , 0.32      , 0.08      ,
       0.03      , 0.14      , 0.24      , 0.15      , 0.01      ,
       0.26      , 0.12      , 0.2       , 0.2       , 0.08      ,
       0.14      , 0.06      , 0.17      , 0.07      , 0.21      ,
       0.05      , 0.06      , 0.02      , 0.17      , 0.        ,
       0.05      , 0.11      , 0.03      , 0.13666667, 0.15      ,
       0.11      , 0.26      , 0.05      , 0.73      , 0.89      ,
       0.91      , 0.77      , 0.78      , 0.8       , 0.73      ,
       0.68      , 0.78      , 0.86      , 0.7       , 0.8       ,
       0.84      , 0.73      , 0.71      , 0.85      , 0.88      ,
       0.81      , 0.84      , 0.78      , 0.45666667, 0.7       ,
       0.85      , 0.7275    , 0.66      , 0.64      , 0.76      ,
       0.8       , 0.82      , 0.9       , 0.95      , 0.82      ,
       0.8       , 0.81666667, 0.75      , 0.72      , 0.87      ,
       0.76      , 0.73      , 0.74      , 0.79      , 0.69      ,
       0.71      , 0.73333333, 0.75666667, 0.76      , 0.67      ,
       0.74      , 0.89      , 0.83      , 0.7       , 0.14      ,
       0.06      , 0.16      , 0.03      , 0.04      , 0.09      ,
       0.03      , 0.03      , 0.19      , 0.06      , 0.02      ,
       0.09      , 0.06      , 0.02      , 0.08      , 0.21      ,
       0.01      , 0.03      , 0.18      , 0.02      , 0.05      ,
       0.09      , 0.1       , 0.09      , 0.03      , 0.17      ,
       0.05      , 0.2       , 0.13      , 0.03      , 0.12      ,
       0.53535714, 0.17      , 0.03      , 0.04      , 0.06      ,
       0.01      , 0.07      , 0.02      , 0.03      , 0.19      ,
       0.04      , 0.15      , 0.03      , 0.07      , 0.13      ,
       0.12      , 0.09      , 0.1       , 0.07      , 0.01      ,
       0.15      , 0.14      , 0.18      , 0.08      , 0.17      ,
       0.17      , 0.01      , 0.09      , 0.27      , 0.16      ,
       0.09      , 0.1       , 0.09      , 0.02      , 0.05      ,
       0.08      , 0.1       , 0.1       , 0.16      , 0.1       ,
       0.11      , 0.08      , 0.12      , 0.05      , 0.06      ,
       0.27      , 0.09      , 0.05      , 0.105     , 0.05      ,
       0.12      , 0.15      , 0.27      , 0.18      , 0.        ,
       0.01      , 0.2       , 0.09      , 0.26      , 0.02      ,
       0.13      , 0.2       , 0.        , 0.16      , 0.12      ,
       0.1125    , 0.05      , 0.05      , 0.15      , 0.45666667,
       0.08      , 0.08      , 0.07      , 0.08      , 0.05      ,
       0.18      , 0.77      , 0.77      , 0.67      , 0.9       ,
       0.76      , 0.93      , 0.74      , 0.8       , 0.92      ,
       0.9       , 0.85      , 0.71      , 0.71      , 0.68      ,
       0.755     , 0.81      , 0.89      , 0.83      , 0.53133333,
       0.79      , 0.91      , 0.86333333, 0.81      , 0.76      ,
       0.74      , 0.81      , 0.73      , 0.85      , 0.78      ,
       0.89      , 0.92      , 0.93      , 0.84      , 0.85      ,
       0.65      , 0.75      , 0.7       , 0.77      , 0.71      ,
       0.65      , 0.73      , 0.84      , 0.82      , 0.81      ,
       0.91      , 0.92      , 0.86      , 0.78      , 0.79      ,
       0.75      ])

In [ ]:
import math
pred=[]
for i in range(len(y_predb)):
 pred.append(int(y_pred[i].round()))
pred=le.inverse_transform(pred)

In [ ]:
pred

array(['TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN',
       'TIN', 'TIN', 'TIN', 'UNT', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN',
       'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN',
       'TIN', 'UNT', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN',
       'TIN', 'UNT', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN',
       'TIN', 'TIN', 'TIN', 'UNT', 'TIN', 'TIN', 'TIN', 'UNT', 'TIN',
       'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN',
       'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN',
       'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'UNT',
       'UNT', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN',
       'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'UNT',
       'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN',
       'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN',
       'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN',
       'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN',
       'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN',
       'TIN', 'UNT', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN',
       'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN',
       'TIN', 'UNT', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN',
       'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN',
       'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN',
       'TIN', 'UNT', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN',
       'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN',
       'TIN', 'TIN', 'UNT', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN',
       'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN',
       'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN',
       'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN',
       'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'TIN', 'UNT', 'UNT',
       'UNT', 'UNT', 'UNT', 'UNT', 'UNT', 'UNT', 'UNT', 'UNT', 'UNT',
       'UNT', 'UNT', 'UNT', 'UNT', 'UNT', 'UNT', 'UNT', 'UNT', 'UNT',
       'UNT'], dtype=object)

In [ ]:
submissionb = pd.DataFrame()
submissionb['id'] = testb['id']
submissionb['label'] = pred
sub_temp=submissionb
for i in null_list:
  submissionb=submissionb.append({'id' : int(i),'label' : None} , ignore_index=True)
submissionb=submissionb.sort_values(by=['id'])
submissionb['id']=submission.index
submissionb.to_csv('/content/drive/MyDrive/ML_text_processing/MOLD_SPLIT/taskb1_sub1.csv',index= False)

In [ ]:
submissionb.index=submission.index
submissionb.head()
submissionb['tweet']=test['tweet']
print(submissionb.index)
print(submissionb['tweet'])

RangeIndex(start=0, stop=510, step=1)
0      पूर्व लडाखमधील मुखपरी येथे प्रत्यक्ष ताबारेषेज...
1      कोणत्याही  रिलेशनशिप मध्ये सुंदर दिसणं खूप महत...
2      भारत  ऑगस्ट  ला स्वतंत्र झाला आणि त्यानंतर तब्...
3      स्वत ला हवा तसा बाइट किंवा प्रतिक्रिया घेण्यास...
4      व्या नंबरची अर्थव्यवस्था आहे भारताची जगात  पर्...
                             ...
505    चायला  हा मराठीत कधी पासून ट्विट करायला लागला ...
506    मदत तातडीने द्यायला हवी  महिने अधिकारी गोट्या ...
507    @USER @USER @USER @USER @USER रंगा बिल्ला ने श...
508    @USER काही लोकं अजूनही म्हणतात की पूर आल्यावर ...
509               @USER सगळ्यात जास्त वास मारणारी पुच्ची
Name: tweet, Length: 510, dtype: object

In [ ]:
null_list1=[]
null_list1=submissionb.index[submissionb['label'] == "UNT"].tolist()
print(null_list1)
print(len(null_list1))

[250, 266, 275, 286, 290, 318, 319, 336, 383, 401, 428, 447, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509]
33

In [ ]:

for i in null_list1:
  null_list.append(i)
null_list =list(set(null_list))

In [ ]:
print(null_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 266, 275, 286, 290, 318, 319, 336, 383, 401, 428, 447, 478, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509]

In [ ]:
testc = submissionb[submissionb['label'] != 'UNT']
testc=testc.dropna()
print(testc)

      id label                                              tweet
12    12   TIN  मग चला सुरू करूया मी पाहिलं वाक्य टाकतो काळोख ...
28    28   TIN  दाऊद कडून कॉल आल्यानंतर उद्धव ठाकरे स्वतःच्या ...
37    37   TIN  अरे मुर्खा निर्यात वाढली की शेतकरी ला पैसे मिळ...
48    48   TIN  मराठी भय्या ज्या देशाला राष्ट्रभाषा नाही आणि र...
52    52   TIN  कोरोनाच्या कॉलर ट्यूननंतर आता ह्या च्या जाहिरा...
..   ...   ...                                                ...
484  484   TIN  @USER @USER @USER लाज वाटत होती पंढरी गेली पण ...
485  485   TIN   @USER @USER भेंचो नालायक पणाची लिमीटच नाय राहिली
486  486   TIN                           @USER @USER थुक्क नालायक
487  487   TIN  नरेंद्रमोदीग्लोबलपप्पूहै देशातील लोकं अभावी मर...
488  488   TIN  @USER @USER @USER प्रचारावेळी होणारी गर्दीवेळी...

[238 rows x 3 columns]

In [ ]:
trainc = pd.read_csv('/content/drive/MyDrive/ML_text_processing/MOLD_SPLIT/subtask_c1.tsv','\t',skiprows=1,names=['id','tweet','subtask_c'])
trainc.head()

     id                                              tweet subtask_c
0  1451  राम कदम वागण्यात नाही तर बोलण्यात चुकला बीजेपी...       GRP
1  1452  हीच का तुमची शिवसेने चि शिकवण आपली आई म्हणजे द...       GRP
2  1453  हे वाचा गाढवांनो आणि हे ही सांगा की तुमच्या मॅ...       GRP
3  1454           भक्त आंधळे असतात मूर्खा ना काही कळत नाही       GRP
4  1455  १९६६ साली छत्रपती शिवाजी महाराज या जागतिक दर्ज...       GRP

In [ ]:
trainc['encoded_c'] = le.fit_transform(trainc['subtask_c'].astype(str))
print(trainc)

       id                                              tweet subtask_c  \
0    1451  राम कदम वागण्यात नाही तर बोलण्यात चुकला बीजेपी...       GRP
1    1452  हीच का तुमची शिवसेने चि शिकवण आपली आई म्हणजे द...       GRP
2    1453  हे वाचा गाढवांनो आणि हे ही सांगा की तुमच्या मॅ...       GRP
3    1454           भक्त आंधळे असतात मूर्खा ना काही कळत नाही       GRP
4    1455  १९६६ साली छत्रपती शिवाजी महाराज या जागतिक दर्ज...       GRP
..    ...                                                ...       ...
735  3064                   @USER @USER हो रे साहेबचा गोट्या       OTH
736  3099  @USER दोन नंबर पुच्ची पाकळ्या मस्त आहेत चाटायल...       OTH
737  3100                            @USER पुच्ची कप्तान साब       OTH
738  3101  @USER नंबरकाळी पुच्ची आणि वर थोडे केसखालून चाट...       OTH
739  3102             @USER तुज्या आमची पुच्ची आतल्या लवड्या       OTH

     encoded_c
0            0
1            0
2            0
3            0
4            0
..         ...
735          2
736          2
737          2
738          2
739          2

[740 rows x 4 columns]

In [ ]:
print(submissionb.index)

RangeIndex(start=0, stop=510, step=1)

In [ ]:
x_train=trainc['tweet']
y_train=trainc['encoded_c']
x_train=x_train.replace(np.nan,"")
x_test=testc['tweet']
x_test=x_test.replace(np.nan,"")
x_train = vectorizer.fit_transform(x_train)
x_test=vectorizer.transform(x_test)

In [ ]:
regressor.fit(x_train, y_train)

RandomForestRegressor(random_state=7)

In [ ]:
y_predc = regressor.predict(x_test)
import math
pred=[]
for i in range(len(y_predc)):
 pred.append(int(y_predc[i].round()))
pred=le.inverse_transform(pred)

In [ ]:
submissionc = pd.DataFrame()
submissionc['id'] = testc['id']
submissionc['label'] = pred

In [ ]:
submissionc

      id label
12    12   IND
28    28   IND
37    37   IND
48    48   IND
52    52   IND
..   ...   ...
484  484   IND
485  485   IND
486  486   IND
487  487   IND
488  488   IND

[238 rows x 2 columns]

In [ ]:
for i in null_list:
  submissionc=submissionc.append({'id' : int(i),'label' : None} , ignore_index=True)
submissionc=submissionc.sort_values(by=['id'])
submissionc['id']=submission.index
submissionc.to_csv('/content/drive/MyDrive/ML_text_processing/MOLD_SPLIT/taskc1_sub1.csv',index= False)

In [ ]:
submissionc

      id label
238    0   NaN
239    1   NaN
240    2   NaN
241    3   NaN
242    4   NaN
..   ...   ...
505  505   NaN
506  506   NaN
507  507   NaN
508  508   NaN
509  509   NaN

[510 rows x 2 columns]